<div class="sidebar-section">

    <a href="{%url 'index'%}"><h2 class="title-small default-color mb-30">My Profile</h2></a></br>
    <a href=""><h2 class="title-small default-color mb-30">My activity history</h2></a></br>
    <a href="{% url 'volunteered' %}"><h2 class="title-small default-color mb-30">Volunteered Events</h2></a></br>
    <a href="{% url 'add_category'%}"><h2 class="title-small default-color mb-30">Add Category</h2></a>
    <a href="{% url 'addarea'%}"><h2 class="title-small default-color mb-30"> / Add Area</h2></a></br>
    <a href="{% url 'viewmyevent'%}"><h2 class="title-small default-color mb-30">Organised Events</h2></a></br>
    <a href="{%url 'logout'%}"><h2 class="title-small default-color mb-30">Logout</h2></a>

</div>