{%extends 'homebase.html'%}
{%load static%}
{% block title %} {{ setting.title }} {% endblock %}
{%block head%}
<link rel="stylesheet" type="text/css" href="{% static '' %}css/custom.css">
{%endblock%}
{%block body%}
<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url({% static '' %}images/breadcrumb/0.breadcrumb-bg.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">{{setting.title}}</span>
									<h2 class="big-title">{{setting.title}}<strong>event</strong></h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">User Profile</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
                    {% if messages %}
			<br>
				<div class="container">
					<div class="row">
						<div class="col-lg-9">

							{% for message in messages %}
								<div class="alert alert-{{message.tags}}" role="alert">
									{{ message |safe}}
								</div>
							{% endfor %}

						</div>
					</div>
				</div>

			{% endif %}
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->

		<!-- event-section - start
		================================================== -->
		<section id="event-section" class="event-section  sec-ptb-100 clearfix">
			<div class="container">
				<div class="row">

					<!-- sidebar-section - start -->
					<div class="col-lg-3 col-md-12 col-sm-12">
						{%include 'user_panel.html'%}
					</div>
					<!-- sidebar-section - end -->

					<div class="col-md-9">

                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">User Profile Inf.</h3>
                        </div>
                    </div>
                     <table class="shopping-cart-table table">
                        <tr>
                            <th class="text-left">
                                </br></br></br>
                                <a href="{%url 'user_update'%}" class="custom-btn">Update Profile</a>
                                <a href="{% url 'user_password'%}" class="custom-btn">Change Password</a>
                            </th>
                            <td><img src="{{ profile.image.url }}" style="border-radius: 45px; height: 200px "></td>
                        </tr>
                        <tr>
                            <th class="text-left">Name Surname</th>
                            <td class="text-left">{{ user.first_name}} {{ user.last_name}} </td>
                        </tr>
                        <tr>
                            <th class="text-left">Email</th>
                            <td class="text-left">{{ profile.user.email}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Phone</th>
                            <td class="text-left">{{ profile.phone}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Addres</th>
                            <td class="text-left">{{ profile.address}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">City</th>
                            <td class="text-left">{{ profile.city}}</td>
                        </tr>
                         <tr>
                            <th class="text-left">State</th>
                            <td class="text-left">{{ profile.state}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Country</th>
                            <td class="text-left">{{ profile.country}}</td>
                        </tr>

                    </table>
                </div>

				</div>
			</div>
		</section>
		<!-- event-section - end
		================================================== -->

{%endblock%}