{%extends 'homebase.html'%}
{%load static %}
{% block title %} {{ setting.title }} {% endblock %}
{%block body%}
<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url({% static '' %}images/breadcrumb/0.breadcrumb-bg.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">event gallery</span>
									<h2 class="big-title">{{setting.title}}<strong>gallery</strong></h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="index-1.html" class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">{{setting.title}} gallery</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->





		<!-- event-gallery-section - start
		================================================== -->
		<section id="event-gallery-section" class="event-gallery-section sec-ptb-100 clearfix">
			<div class="container">

				<div class="button-group filters-button-group mb-30">
					<button class="button is-checked" data-filter="*">
						<i class="fas fa-star"></i>
						<strong>all</strong> gallery
					</button>
					<button class="button" data-filter=".video-gallery">
						<i class="fas fa-play-circle"></i>
						<strong>video</strong> gallery
					</button>
					<button class="button" data-filter=".photo-gallery">
						<i class="far fa-image"></i>
						<strong>photo</strong> gallery
					</button>
				</div>

				<div class="grid zoom-gallery clearfix mb-80" data-isotope="{ &quot;masonry&quot;: { &quot;columnWidth&quot;: 0 } }">
					{%for v in video%}

				<div class="grid-item video-gallery " data-category="video-gallery">
					<video class="video-fluid" controls="controls" style="height:250px;width:400px;" >
						<source src="{{v.video.url}}" type="video/mp4"/>
					</video>
					<div class="item-content">
						<h3>{{v.video.event.title}}</h3>
						<span>{{v.video.event.start_time}}</span>
					</div>
				</div>
					{%endfor%}
					{%for i in images%}
				<div class="grid-item photo-gallery " data-category="photo-gallery">
					<a class="popup-link" href="{{i.image.url}}">
						<img src="{{i.image.url}}" alt="Image_not_found" style="height:250px;width:1500px;">
					</a>
					<div class="item-content">
						<h3>{{i.event.title}}</h3>
						<span>{{i.event.start_time}}</span>
					</div>
				</div>
					{%endfor%}


			</div>

			</div>
		</section>
		<!-- event-gallery-section - end
		================================================== -->
{%endblock%}