{%extends 'homebase.html'%}
{%load static%}
{% block title %} {{ setting.title }} {% endblock %}
{%block head%}
<link rel="stylesheet" type="text/css" href="{% static '' %}css/custom.css">
{%endblock%}
{%block body%}
<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url({% static '' %}images/breadcrumb/0.breadcrumb-bg.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">{{setting.title}}</span>
									<h2 class="big-title">{{setting.title}}<strong>event</strong></h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Add Event</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
					{% if messages %}
			<br>
				<div class="container">
					<div class="row">
						<div class="col-lg-9">

							{% for message in messages %}
								<div class="alert alert-{{message.tags}}" role="alert">
									{{ message |safe}}
								</div>
							{% endfor %}

						</div>
					</div>
				</div>

			{% endif %}
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->

		<!-- event-section - start
		================================================== -->
		<section id="event-section" class="event-section  sec-ptb-100 clearfix">
			<div class="container">
				<div class="row">

					<!-- sidebar-section - start -->
					<div class="col-lg-3 col-md-12 col-sm-12">
						{%include 'user_panel.html'%}
					</div>
					<!-- sidebar-section - end -->

					<!-- - start -->
					<div class="col-lg-9 col-md-12 col-sm-12">


						<div class="tab-content">
							<h2>Add Event</h2>
							<form method="POST" enctype = "multipart/form-data">
								{% csrf_token %}
								<fieldset class="form-group">
									{{eventform.media}}
                                    {{eventform.category.label}}
                            {{eventform.category}}
                                    {{eventform.area.label}}
                            {{eventform.area}}
                            {{eventform.title.label}}
                            {{eventform.title}}
                            {{eventform.keywords.label}}
                            {{eventform.keywords}}
                            {{eventform.description.label}}
                            {{eventform.description}}
                            {{eventform.image.label}}
                            {{eventform.image}}
                            {{eventform.detail.label}}
                            {{eventform.detail}}
                            {{eventform.members.label}}
                            {{eventform.members}}
									{{eventform.location.label}}
									{{eventform.location}}
                            {{eventform.start_time.label}}
                            {{eventform.start_time}}
                            {{eventform.end_time.label}}
                            {{eventform.end_time}}
                            {{eventform.status.label}}
                            {{eventform.status}}
                            Image: <input type="file" name="image" multiple="multiple"></br>
                            Video: <input type="file" name="video" multiple="multiple"></br>
                            

								</fieldset>
								<div class="form-group">
									<button class="custom-btn" type="submit">Add</button>
								</div>
							</form>
						</div>

					</div>
					<!-- - end -->

				</div>
			</div>
		</section>
		<!-- event-section - end
		================================================== -->

{%endblock%}